venv/
*.pyc
.env
trades.db
test.csv
app.log
SynthetixFundingRateArbitrage.egg-info/
markets.json
OrderedOpportunities.json
trade_database.csv
functionTracker.log
DEMO_opportunity_visualisations.json
AVAXHistorical.json
PENDLEHistorical.json
config.yaml
.vscode/