binance_futures_connector==4.0.0
gmx_python_sdk==0.0.5
hexbytes==0.3.1
matplotlib==3.8.4
numerize==0.12
numpy==2.0.0
python-okx==0.3.1
pandas==2.2.2
pybit==5.6.2
Pypubsub==4.0.3
python-dotenv==1.0.1
python_binance==1.0.17
Requests==2.32.3
setuptools==68.2.2
synthetix==0.1.10
web3==6.16.0