binance_futures_connector==4.0.0
gmx_python_sdk==0.0.5
hexbytes==0.3.1
matplotlib==3.8.4
numerize==0.12
numpy==2.0.1
pandas==2.2.2
pybit==5.6.2
Pypubsub==4.0.3
python-dotenv==1.0.1
python_binance==1.0.17
python_okx==0.3.1
Requests==2.32.3
scikit_learn==1.5.1
setuptools==68.2.2
synthetix>=0.1.16
web3==6.16.0
Flask==3.0.3
Flask-Cors==4.0.1
Flask-SocketIO==5.3.6
